<?php echo $this->doctype(); ?>

<html lang="en">
<head>
	<meta charset="utf-8">
	<?php echo $this->headTitle('ZF2 '
		. $this->translate('Skeleton Application'))->setSeparator(' - ')
		->setAutoEscape(false) ?>
	<?php echo $this->headLink(array(
			'rel' => 'shortcut icon',
			'type' => 'image/vnd.microsoft.icon',
			'href' => $this->basePath() . '/img/favicon.ico'
		))
		->prependStylesheet($this->basePath('css/resources/css/ext-all.css'))
		->prependStylesheet($this->basePath('css/styles/styles.css'));?>

	<!-- Scripts -->
	<?php echo $this->headScript()
		->prependFile($this->basePath('js/app.js'))
		->prependFile($this->basePath('js/ext-all-debug.js')); ?>

</head>
<body>

</body>
</html>
